body {
 background-color:#eee;
 background: url("http://www.phayaoshop.com/ioffer/pet-shop-background-middle.gif");
 background-size: 100%;

}
.header{
  background: rgba(176, 173, 156, 1);
  text-align: center;
  }

#logo {
  float: left;
}

.navbar {

    font-size: 12px;
    background-color: ;
    font-weight: bold;
  }


.dogs img,
.dog img {
  display: block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  border: 4px black solid;
  margin-top: 20px;
  margin-left: 25px;



}

img {
    vertical-align: middle;
    height: 50px;
    width: 59px;
    border: 3px black solid;
    border-radius: 5px;
}

.edit_dog {
  text-align: center;
  background: pink;
  margin-top: 5px;
}

#logo {
  border: 4px black solid;
  border-radius: 10px;
}
h1, h2 {

  font-family: 'Londrina Shadow', cursive;
  color: black;
  font-weight: 600;
  text-align: center;
}


h3 {
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
  font-weight: 900;
  font-size: 3em;

}

p {
font-weight: 900;

}

.page-header {
  text-align: center;

}

.actions {
  text-align: center;
  margin-top: 30px;
}

.info {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;

}

.field {
  text-align: center;
}

#register {
  text-align: center;
}

.footer {
  margin-top: 50px;
  text-align: center;
  background: rgba(176, 173, 156, 1);
}

.name {
  color: blue;
}

.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.devise, .devise2 {
  text-align: center;
  margin-top: 30px;
}

.button {
  display: inline-block;
  padding: -1px 12px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #f4e890;
  background-color: #fcba03;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}


.button:hover {background-color: #fcba03}

.button:active {
  background-color: #b28b1f;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.sign-up {
  text-align: center;
  text-decoration: yellow;
}

.log_in {
  text-align: center;

}

.dog-image {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dogs {
  justify-content: center;
}

.card.col-xs-4 {
  text-align: center;

}

a {
padding: 5px;
}

.container {
  text-align: center;
}
