<h1>Locations & Contact Info.</h1>



<div class="container text-center">
<% @locations.each do |l| %>
  <%= link_to l.city, location_show_path(l.id) %> <br>
<% end %>
</div>




<div class="text-center">
<p>Please send e-mail to: <span class="name">ferdyboy@gmail.com </span>for further info.</p>
</div>

